<div class="layout-column-right">
  <div class="ad">広告
  </div>
  <section class="ranking-box">
    <div data-is="ranking-list">
      <h3 class="h3-global">新着の書きかけストーリー</h3>
      <div class="story-minibox">
        <a class="wrapper" href="">
          <div class="image_area"></div>
          <div class="story-element_information">
            <div class="story-name">Kazuki Okuya</div>
            <div class="title">執筆中</div>
          </div>
          <div>
            <div class="to-readmore-wrapper">
              <p>押すと公開時にお知らせされます</p>
              <button data-is="button-grd">詳しく聞きたい！</button>
            </div>
          </div>
        </a>
      </div>
      <div class="story-minibox">
        <a class="wrapper" href="">     <!-- まだ未完成の機能なのでaタグのままにしています-->
          <div class="image_area"></div>
          <div class="story-element_information">
            <div class="story-name">えがしらさん</div>
            <div class="title">執筆中</div>
          </div>
          <div>
            <div class="to-readmore-wrapper">
              <p>押すと公開時にお知らせされます</p>
              <button data-is="button-grd">詳しく聞きたい！</button>
            </div>
          </div>
        </a>
      </div>
      <div class="story-minibox">
        <a class="wrapper" href="">     <!-- まだ未完成の機能なのでaタグのままにしています-->
          <div class="image_area"></div>
          <div class="story-element_information">
            <div class="story-name">はやぶさくん</div>
            <div class="title">執筆中</div>
          </div>
          <div>
            <div class="to-readmore-wrapper">
              <p>押すと公開時にお知らせされます</p>
              <button data-is="button-grd">詳しく聞きたい！</button>
            </div>
          </div>
        </a>
      </div>
      <div class="story-minibox">
        <a class="wrapper" href="">     <!-- まだ未完成の機能なのでaタグのままにしています-->
          <div class="image_area"></div>
          <div class="story-element_information">
            <div class="story-name">神倉ゆうすけ</div>
            <div class="title">執筆中</div>
          </div>
          <div>
            <div class="to-readmore-wrapper">
              <p>押すと公開時にお知らせされます</p>
              <button data-is="button-grd">詳しく聞きたい！</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
