<div class="action clearfix">
  <div class="social" data-is="story-social" layout="button">
    <div class="social-box clearfix">
      <div class="facebook">
        <div class="fb-share-button fb_iframe_widget" data-size="small" data-mobile-iframe="true" data-href="https://storys.jp/story/30998" data-layout="button_count" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=30&amp;href=https%3A%2F%2Fstorys.jp%2Fstory%2F30998&amp;layout=button_count&amp;locale=ja_JP&amp;mobile_iframe=true&amp;sdk=joey&amp;size=small">
          <span style="vertical-align: bottom; width: 72px; height: 20px; padding: 0;">
            <iframe name="fffe90a34b5ec8" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:share_button Facebook Social Plugin" src="https://www.facebook.com/v2.9/plugins/share_button.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FRQ7NiRXMcYA.js%3Fversion%3D42%23cb%3Df124c4c7872005c%26domain%3Dstorys.jp%26origin%3Dhttps%253A%252F%252Fstorys.jp%252Ff1c19654ca4ec0c%26relation%3Dparent.parent&amp;container_width=30&amp;href=https%3A%2F%2Fstorys.jp%2Fstory%2F30998&amp;layout=button_count&amp;locale=ja_JP&amp;mobile_iframe=true&amp;sdk=joey&amp;size=small" style="border: none; visibility: visible; width: 72px; height: 20px;" class="">
            </iframe>
          </span>
        </div>
      </div>
      <div class="twitter">
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.d383dc1d510865aceaa5e552afcf5663.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fstorys.jp%2Fstory%2F30998%2Fcomments&amp;size=m&amp;text=STORYS.JP%EF%BC%88%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%82%BA%EF%BC%89&amp;time=1526393052341&amp;type=share&amp;url=https%3A%2F%2Fstorys.jp%2Fstory%2F30998" style="position: static; visibility: visible; width: 61px; height: 20px;" data-url="https://storys.jp/story/30998">
        </iframe>
      </div>
      <div class="hatena">
        <iframe class="hatena-bookmark-button-frame" title="このエントリーをはてなブックマークに追加" frameborder="0" scrolling="no" width="115" height="20" src="javascript:false" style="width: 115px; height: 20px;">
        </iframe>
      </div>
      <div class="line">
        <iframe data-lang="ja" data-type="share-a" data-url="https://storys.jp/story/30998" data-line-it-id="0" scrolling="no" frameborder="0" allowtransparency="true" class="line-it-button" src="https://social-plugins.line.me/widget/share?url=https%3A%2F%2Fstorys.jp%2Fstory%2F30998&amp;buttonType=share-a&amp;lang=ja&amp;type=share&amp;id=0&amp;origin=https%3A%2F%2Fstorys.jp%2Fstory%2F30998%2Fcomments&amp;title=STORYS.JP%EF%BC%88%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%82%BA%EF%BC%89" style="width: 81px; height: 20px; visibility: visible; position: static;" title="このページの情報をLINEでシェアできます。">
        </iframe>
      </div>
      <div class="pocket"></div>
    </div>
  </div>
  <div class="delivery">
    <div class="ui slider checkbox mini toggle">
      <input type="checkbox" value="true" name="can_delivery_other" checked="checked">
      <label>外部サイトでの配信を許可する</label>
    </div>
  </div>
</div>
