<div class="contents row">
  <%= form_for @story, url: story_path do |f| %>
    <h3>編集する</h3>
    <%= f.text_field :title, placeholder: "#{ @story.title }" %>
    <%= f.text_field :text, placeholder: "#{ @story.text }" %>
    <%= f.submit "更新" %>
  <% end %>
</div>
