<div class="form__wrapper">
  <div class="error"></div>
  <div class="form_fields">
    <%= form_for @story, url: storys_path do |f| %>
    <div class="category_wrapper js-category-label">
      <div class="category_field" data-is="print_field" label="ここをクリックしてカテゴリを選択">ここをクリックしてカテゴリを選択</div>
      <div class="fa fa-pencil"></div><%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>
    <div class="title">
      <%= f.text_field :title, placeholder:"タイトル" %>
    </div>
    <div class="user clearfix">
      <img src="">      <!-- 仮置きなので、ユーザのアイコン画像のリンクを貼ることができるコードにしたいです。 -->
      <div class="name">
        <div class="text">著者:</div>
        <span data-is=print_field>yoshimitsu egashira</span>
      </div>
    </div>
    <div class="explain">
      <i class="fa fa-arrow-down"></i>本文を入力してください
    </div>
    <div class="body story-html">
      <%= f.text_area :text, placeholder: "本文を入力してください", class:"edit_area", id:"js_edit_area", contenteditable:"true" %>
      <h2></h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
