<div data-is="new__titlebar__wrapper">
  <div class="titlebar-container clearfix">
    <a class="logo" href="/">
      <%= image_tag "https://storys.jp/images/layouts/logo-orange.png", class: "logo-image", alt: "storys.jp" %>
    </a>
    <div class="left">
      <span class="icon-button" href="#">
        <i class="fa fa-chevron-left mini"></i>
        <i class="fa fa-index"></i>
      </span>
    </div>
    <div class="right">
      <span class="icon-button save-button" href="#">
        <i class="fa fa-save"></i>
        <i class="fa fa-chevron-right mini"></i>
      </span>
      <div class="save-menus">
        <!-- form_for形式での書き方を知っている方いたら教えていただきたいです!! -->
        <button class="is_draft" name="submit" value="is_draft">保存</button>
        <button class="is_open" name="submit" value="is_open">公開</button>
      </div>
    </div>
  </div>
</div>
