// Place all the styles related to the latest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-latest {
  padding-top: 90px;
  height: 100vh;
}

.h1-global {
  color: #3C1D00;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  background-color: #D9D2BD;
  border-radius: 5px;
  padding: 12px 16px 9px;
  margin-bottom: 20px;
  text-align: center;
}

.category-bar {
}

.story-minibox {
  .wrapper {
    text-decoration: none;
    display: block;
    padding: 10px;
    height: 100%;
    .image_area {
      display: table-cell;
      vertical-align: top;
      width: 65px;
    }
      .story-name {
        font-weight: normal;
      }
    .story-element_information {
      display: table-cell;
      vertical-align: top;
    }
      .to-readmore-wrapper {
        padding: 10px 20px;
        margin-top: 10px;
        background: #f3f0e6;
        border-radius: 5px;
        p {
          text-align: center;
          color: #aea195;
          font-size: 13px;
        }

        button {
          margin-top: 5px;
          width: 100%;
          box-shadow: 0px -1px 0 0 #d4d1c6;
          border: 10px solid #fff;
          height: 100%;
        }
      }
  }
}


.pagination {
  padding-bottom: 20px;
  text-align: center;
  .wrapper {
    display: inline-block;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: inherit;
    border: none;
    height: inherit;
    li {
      float: left;
      border: 1px solid #736335;
      margin-right: -1px;
      margin-bottom: 5px;
      .current {
        background: #938355;
        color: #FFF;
      }
      span {
        display: block;
        color: #736335;
        padding: 10px 15px;
        line-height: 1;
        text-decoration: none;
        font-weight: normal;
        font-size: 16px;
      }
      a {
        display: block;
        color: #736335;
        padding: 10px 15px;
        line-height: 1;
        text-decoration: none;
      }
    }
  }
}

._popIn_recommend_container {
  padding: 0;
  margin: 10px auto;
  width: 700px;
  display: block;
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: inherit;
  ._popIn_recommend_header {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 5px 0;
    border-bottom: 1px #a0a0a0 solid;
  }
  ._popIn_recommend_articles {
    ._popIn_recommend_article {
      display: inline-block;
      width: 33%;
      margin: 0 0 10px 0;
      padding: 0 5px;
      position: relative;
      vertical-align: top;
      text-decoration: none !important;
      ._popIn_recommend_art_img {
        width: 100%;
        padding-top: 66.6667%;
        background: transparent;
        overflow: hidden;
        position: relative;
      }
      ._popIn_recommend_art_title {
        margin: 5px 0;
        padding: 0 5px;
        height: 68px;
        font-size: 15px;
        line-height: 1.5;
        color: #3c1d00;
        font-weight: bold;
        overflow: hidden;
      }
      ._popIn_recommend_art_category {
        display: none;
      }
      ._popIn_recommend_art_media {
        color: #999;
        font-size: 11px;
        line-height: initial;
        margin-top: 8px;
        font-weight: bold;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
      }
      ._popIn_recommend_art_date {
        display: none;
      }
    }
  }
  ._popIn_recommend_credit {
    position: relative;
    text-align: right;
    margin: 5px;
    font-size: 10px;
    opacity: 0.6;
    ._popIn_recommend_credit_image {
    display: inline-block;
    width: 40px;
    height: 10px;
    margin: 1px 0 0 4px;
    // background-image: url(//api.popin.cc/images/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 40px 20px;
    vertical-align: text-top;
    }
  }
}
[data-is="category__paginate"] {
  padding-bottom: 40px;
  margin-left: 80px;
}

[data-is="category__paginate"] > nav > span {
  display: inherit;
}

.pagination {
  .first{
    a{
      font-size: 12px;
      border: 1px solid #736335;
      color: #736335;
      padding: 10px 15px;
      text-decoration: none;
      float: left;
    }
  }
  .prev{
    a{
      font-size: 12px;
      border: 1px solid #736335;
      color: #736335;
      padding: 10px 15px;
      text-decoration: none;
      float: left;
     }
   }
  .next{
    a{
      font-size: 12px;
      border: 1px solid #736335;
      color: #736335;
      padding: 10px 15px;
      text-decoration: none;
      float: left;
     }
   }

  .last{
    a{
      font-size: 12px;
      border: 1px solid #736335;
      color: #736335;
      padding: 10px 15px;
      text-decoration: none;
      float: left;
     }
   }
  .page.current{
   color: #FFF;
   font-size: 12px;
   border: 1px solid #736335;
   background: #938355;
   padding: 10px 15px;
   float: left;
  }
  .page{
    a{
      font-size: 12px;
      border: 1px solid #736335;
      color: #736335;
      padding: 10px 15px;
      text-decoration: none;
      float: left;
     }
   }
 }
