// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#like-button {
    line-height: 42px;
    color: rgb(109, 55, 1);
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    background: linear-gradient(to right, rgb(254, 180, 0), rgb(255, 227, 0));
    padding: 0px 18px;
    border-radius: 100px;
    text-decoration: none;
    z-index: 100;
}
