<section class="ranking-box">
  <div data-is="ranking-list">
    <h3 class="h3-global">24時間のランキング</h3>
    <ul>
      <li>
        <h4>1位</h4>
        <div class="story-minibox">
          <a class="ranking-info" href="">
            <div class="image-area">
              <div class="user_image"></div>
            </div>
            <div class="story-ele">
              <div class="story-name">奥谷　一輝</div>
              <div class="title">あいりん地区で元ヤクザ幹部に教わった、「○○がない仕事だけはしたらあかん」という話。
                <span class="star">
                  <i class="fa fa-star"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <h4>2位</h4>
        <div class="story-minibox">
          <a class="ranking-info" href="">
            <div class="image-area">
              <div class="user_image"></div>
            </div>
            <div class="story-ele">
              <div class="story-name">コバヤシサチオ</div>
              <div class="title">あいりん地区で元ヤクザ幹部に教わった、「○○がない仕事だけはしたらあかん」という話。
                <span class="star">
                  <i class="fa fa-star"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <h4>3位</h4>
        <div class="story-minibox">
          <a class="ranking-info" href="">
            <div class="image-area">
              <div class="user_image"></div>
            </div>
            <div class="story-ele">
              <div class="story-name">yusuke kamikura</div>
              <div class="title">あいりん地区で元ヤクザ幹部に教わった、「○○がない仕事だけはしたらあかん」という話。
                <span class="star">
                  <i class="fa fa-star"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <h4>4位</h4>
        <div class="story-minibox">
          <a class="ranking-info" href="">
            <div class="image-area">
              <div class="user_image"></div>
            </div>
            <div class="story-ele">
              <div class="story-name">えがしら　よしみつ</div>
              <div class="title">あいりん地区で元ヤクザ幹部に教わった、「○○がない仕事だけはしたらあかん」という話。
                <span class="star">
                  <i class="fa fa-star"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
