<div id="_popIn_recommend">
  <div class="_popIn_recommend_container">
    <div class="_popIn_recommend_header">今、あなたにオススメ</div>
    <div class="_popIn_recommend_articles">
      <div class="_popIn_infinit_page">
        <div class="_popIn_recommend_article _popIn_idx1 _popIn_recommend_article_ad _popIn_recommend_has_img">
          <div class="_popIn_recommend_art_image"></div>
          <div class="_popIn_recommend_art_title"></div>
          <div class="_popIn_recommend_art_category"></div>
          <div class="_popIn_recommend_art_media">PR(Remand)</div>
          <div class="_popIn_recommend_art_date"></div>
        </div>
      </div>
      <div class="_popIn_infinit_page"></div>
      <div class="_popIn_infinit_page"></div>
    </div>
    <div class="_popIn_recommend_credit">
      Recommender by
      <div class="_popIn_recommend_credit_image"></div>
    </div>
  </div>
</div>
